{erl_opts, [
  debug_info
]}.

{deps, [
  {gun, {git, "https://github.com/ninenines/gun.git", {tag, "1.0.0-pre.5"}}},
  {mongodb, {git, "git://github.com/comtihon/mongodb-erlang", {tag, "v3.1.9"}}}
]}.

{relx, [
  {release, {scraper_release, "0.0.1"}, [scraper]},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true},
  {vm_args, "config/vm.args"},
  {sys_config, "config/sys.config"},
  {overlay, [{ copy, "config/extra.config", "config/extra.config"}]}
]}.
